<article class="goods-item-card card-body" *ngIf="goodsItem">
  <div class="goods-item-card-poster-wrapper card-poster-wrapper">
    <img 
      class="goods-item-card-poster card-poster" 
      src="{{ goodsItem.imageUrls[0] }}" 
      alt="{{ goodsItem.name }}"
      title="{{ goodsItem.name }}"
    >
  </div>

  <div class="goods-item-card-description-wrapper card-description-wrapper">
    <h3 class="goods-item-card-description-title card-description-title">
      {{ goodsItem.name }}
    </h3>
    <p 
      class="goods-item-card-description-amount card-description-amount" 
      [appAmountVisualization]="goodsItem.availableAmount"
    >
      <svg
        class="goods-item-card-description-amount-icon card-description-amount-icon"
        width="16" height="16" viewBox="0 0 16 16" xmlns="http://www.w3.org/2000/svg"
      >
        <path fill-rule="evenodd" clip-rule="evenodd" d="M13 9C13 11.7614 10.7614 14 8 14C5.23858 14 3 11.7614 3 9C3 6.23858 5.23858 4 8 4C10.7614 4 13 6.23858 13 9ZM14 9C14 12.3137 11.3137 15 8 15C4.68629 15 2 12.3137 2 9C2 5.68629 4.68629 3 8 3C11.3137 3 14 5.68629 14 9ZM5.92426 8.07574L7.5 9.65147L10.5757 6.57574L11.4243 7.42426L7.92426 10.9243C7.81174 11.0368 7.65913 11.1 7.5 11.1C7.34087 11.1 7.18826 11.0368 7.07574 10.9243L5.07574 8.92426L5.92426 8.07574Z"/>
      </svg>
      <span class="goods-item-card-description-amount-label card-description-amount-label">
        В наличии
      </span>
    </p>
    <p class="goods-item-card-description-price card-description-price">
      {{ goodsItem.price | number:'.2-2' }} бел.&nbsp;рублей
    </p>
    <p class="goods-item-card-raiting card-raiting">
      <span 
        class="goods-item-card-raiting-filled card-raiting-filled" 
        [style.width]="15*goodsItem.rating + 'px'"
      >
      </span>
    </p>
  </div>

  <div class="goods-item-card-controller-wrapper card-controller-wrapper">
    <div class="goods-item-card-buttons card-buttons">
      <button
        class="goods-item-card-button main-button goods-item-card-button-active"
        *ngIf="goodsItem.isInCart; else notIsInCartButton"
        mat-icon-button
        aria-label="Извлечь из корзины"
        title="Извлечь из корзины"
        (click)="onCartButtonClick()"
      >
        <mat-icon class="button-icon">shopping_cart</mat-icon>
        <span>В корзинe</span>
      </button>
      <button
        class="goods-item-card-button main-button goods-item-card-button-active"
        *ngIf="goodsItem.isFavorite; else notIsFavoriteButton"
        mat-icon-button
        aria-label="Убрать из избранных"
        title="Убрать из избранных"
        (click)="onFavoriteButtonClick()"
      >
        <mat-icon class="button-icon">favorite</mat-icon>
        <span>В избранном</span>
      </button>
    </div>
  </div>
</article>

<ng-template #notIsInCartButton>
  <button
    class="goods-item-card-button main-button"
    mat-icon-button
    aria-label="Добавить в корзину"
    title="Добавить в корзину"
    (click)="onCartButtonClick()"
  >
    <mat-icon class="button-icon">shopping_cart</mat-icon>
    <span>В корзину</span>
  </button>
</ng-template>

<ng-template #notIsFavoriteButton>
  <button
    class="goods-item-card-button main-button"
    mat-icon-button
    aria-label="Добавить в избранное"
    title="Добавить в избранное"
    (click)="onFavoriteButtonClick()"
  >
    <mat-icon class="button-icon">favorite</mat-icon>
    <span>В избранное</span>
  </button>
</ng-template>