@import './src/scss/mixins.scss';          
@import './src/scss/variables.scss';

.goods-item-card {
  height: 100%;
}

.goods-item-card {
  flex-direction: column;
}

.goods-item-card-poster-wrapper {
  max-width: 100%;
}

.goods-item-card-description-wrapper {
  max-width: 100%;

  font-size: 0.85rem;
}

.goods-item-card-description-title {
  font-size: 0.95rem;
}

.goods-item-card-description-title,
.goods-item-card-description-price,
.goods-item-card-description-raiting,
.goods-item-card-price-label {
  max-width: 250px;
}

.goods-item-card-description-price {
  font-weight: bold;
  font-size: 1rem;
}