<app-main-slider [promoGoods]="promoGoods$ | async"></app-main-slider>
<app-popular-goods-slider [popularGoods]="popularGoods$ | async"></app-popular-goods-slider>

<section id="services" class="services">
  <div class="services-wrapper wrapper">
    <h2 class="services-title title">Возможности и преимущества</h2>
    <p class="services-description">
      Портал разработан с использованием Angular, RxJS, NgRx и является одностраничным приложением. Для хранения и обработки необходимых данных обеспечено взаимодействие с сервером. Прототип - 21vek.by
    </p>
    <ul class="features-list list">
      <li class="feature-item feature-star">
        <h3 class="feature-title title">Проработанный дизайн</h3>
        <p class="feature-description feature-description-star">
          Единое стилистическое оформление, плавные анимации, качественные свайперы, все есть и ничего лишнего
        </p>
      </li>
      <li class="feature-item feature-layout">
        <h3 class="feature-title title">Адаптивная верстка</h3>
        <p class="feature-description feature-description-layout">
          Поддерживаются разрешения для десктопа (1024px), планшетов (768px) и мобильных устройств (не менее 500px) 
        </p>
      </li>
      <li class="feature-item feature-answer">
        <h3 class="feature-title title">Интуитивный и дружелюбный интерфейс</h3>
        <p class="feature-description feature-description-answer">
          Проработанные стили интерактивных элементов, тултип блока "В наличии", подсказки при ошибках сети и т.д.
        </p>
      </li>
      <li class="feature-item feature-ideas">
        <h3 class="feature-title title">Дополнительный кастомный функционал</h3>
        <p class="feature-description feature-description-ideas">
          Сортировка по количеству товаров, тоггл кнопок "Корзина" и "Избранные", работа с этими категориями для незарегистрированного пользователя и т.д.
        </p>
      </li>
      <li class="feature-item feature-design">
        <h3 class="feature-title title">Полное редактирование заказов</h3>
        <p class="feature-description feature-description-design">
          Работа с очередью заказов, возможность их редактирования и удаления, изменения входящих позиций, их количества, иных данных заказов
        </p>
      </li>
      <li class="feature-item feature-support">
        <h3 class="feature-title title">Логичная стратегия роутинга</h3>
        <p class="feature-description feature-description-support">
          Последовательная и логичная навигация, история путей, восстановление страницы роута при перезагрузке 
        </p>
      </li>
    </ul>
  </div>
</section>

<div class="video-wrapper">
  <iframe 
    class="video"  
    src="https://www.youtube.com/embed/-KYrwhgJFmk"
    allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture">
  </iframe>
</div>
