@import './src/scss/mixins.scss';          
@import './src/scss/variables.scss';

.services-wrapper {
  min-height: 500px;
  padding-top: 60px;
  padding-left: 40px;

  background-color: $secondary-bg-color-light;

  @include media-desktop {
    padding: 40px;

    border-bottom: 0;
  }

  @include media-tablet {
    padding-top: 25px;
    padding-left: 32px;
    padding-right: 32px;
    padding-bottom: 2px;
  }
}

.services-title {
  font-size: 30px;
  letter-spacing: -0.005em;
}

.services-description {
  margin: 0;
  padding-top: 19px;
  padding-bottom: 43px;
  padding-right: 10px;

  font-size: 18px;
  font-weight: 300;
  letter-spacing: 0.01em;
  line-height: 30px;
  text-align: justify;
  color: $third-light-font-color;

  @include media-desktop {
    padding-bottom: 12px;
  }

  @include media-tablet {
    padding-bottom: 26px;

    letter-spacing: 0;
  }
}

.features-list {
  display: grid;
  grid-template-columns: repeat(3, 33%);
  gap: 5px;
}

.feature-item {
  margin-bottom: 20px;
  padding-right: 15px;
  padding-left: 75px;

  background-repeat: no-repeat;

  overflow: hidden;

  @include media-desktop {
    margin: 2.6vw;
    padding-right: 13px;
    padding-bottom: 0;
  }

  @include media-tablet {
    margin: 0;
    margin-bottom: 13px;
  }

  @include media-mobile {
    min-height: 115px;
  }
}

.feature-item:nth-child(odd) {
  @include media-desktop {
    margin-left: 0;
  }
}

.feature-design {
  background-image: url('../../../../assets/images/feature/feature-design.svg');
}

.feature-layout {
  background-image: url('../../../../assets/images/feature/feature-layout.svg');

  @include media-desktop {
    margin-top: 17px;
    padding-top: 0;
    padding-bottom: 0;
  }
}

.feature-ideas {
  background-image: url('../../../../assets/images/feature/feature-ideas.svg');
}

.feature-support {
  background-image: url('../../../../assets/images/feature/feature-support.svg');
}

.feature-answer {
  background-image: url('../../../../assets/images/feature/feature-answer.svg');

  @include media-desktop {
    margin-top: 17px;
    padding-top: 0;
    padding-bottom: 0;
  }
}

.feature-star {
  background-image: url('../../../../assets/images/feature/feature-star.svg');
}

.feature-title {
  padding-bottom: 9px;

  font-size: 18px;
}

.feature-description {
  margin: 0;

  font-size: 14px;
  font-weight: 400;
  line-height: 21.56px;
  text-align: justify;
  color: $third-light-font-color;
}

.video-wrapper {
  @include flex-center-aligned;
  margin-top: 20px;

  background-color: transparent;
}

.video {
  width: 1150px;
  min-height: 648px;
  
  border: 0;

  @include media-mobile {
    min-height: 207px;
  }
}