<section class="cart-section">
  <h2 class="cart-title">Оформление заказа</h2>

  <p *ngIf="cartGoods?.length">{{ getOrderDescription() }}</p>
  <app-cart-list
    [cartGoods]="cartGoods"
    [order]="getOrder()"
    (deleteCartGoodsItemEvent)="onDeleteButtonClick($event)"
    (decreaseAmountEvent)="decreaseGoodsItemAmount($event)"
    (increaseAmountEvent)="increaseGoodsItemAmount($event)"
  ></app-cart-list>

  <ng-container *ngIf="cartGoods?.length">
    <app-cart-form *ngIf="getIsUserLogged$() | async; else messageForUnknownUser"></app-cart-form>
  </ng-container>
</section>

<ng-template #messageForUnknownUser>
  <p *ngIf="cartGoods?.length">
    Для дальнейшего оформления заказа необходимо войти в свой профиль, при его отсутствии - зарегистрироваться
  </p>
</ng-template>