@import 'src/scss/variables.scss';

.cart-section {
  margin-top: 30px;
}

.cart-title {
  margin-left: 10px;
  padding-bottom: 30px;
}

.order-summary,
.message-for-unknown-user,
.modal-content p {
  color: $main-brand-color;
  font-weight: bold;
  text-align: center;
}

.order-summary {
  font-size: 18px;
}

.gray-modal .modal-content {
  background-color: $secondary-bg-color-light;
  color: $main-font-color;
}

.close {
  outline: none;

  &:focus,
  &:active {
    color: $main-font-color;
  }

  &:hover {
    color: $main-brand-color;
  }
}