<header class="header">
  <app-info-block 
    [location]="location$ | async" 
    (changeLocationEvent)="changeLocation($event)"
  ></app-info-block>

  <div class="search-results-drop-down" ngbDropdown #myDrop="ngbDropdown">
    <app-main-menu
      (catalogButtonClickEvent)="onCatalogButtonClick()"
      (logoClickEvent)="goToMainPage()"
      (setSearchValueEvent)="setSearchValue($event)"
      ngbDropdownAnchor
    >
    </app-main-menu>
    <div
      class="search-results-drop-down-menu" 
      ngbDropdownMenu 
      aria-labelledby="dropdownManual" 
      *ngIf="!isResultsNotEmpty(); else searchResultsList"
    >
      <span 
        class="dropdown-item-not-active"
        ngbDropdownItem
      >
       :( По Вашему запросу ничего не найдено...
      </span>
    </div>

    <ng-template #searchResultsList>
      <ul class="search-results-drop-down-menu list" ngbDropdownMenu aria-labelledby="dropdownManual">
        <li ngbDropdownItem *ngFor="let searchedReslut of searchedCategories">
          <a 
            class="dropdown-link link text-decoration" 
            (click)="onRouterLinkClick(searchedReslut.category.id, searchedReslut.subcategory?.id)"
          >
            {{ (searchedReslut.subcategory || searchedReslut.category).name }}
          </a>
        </li>
        <li ngbDropdownItem *ngFor="let searchedGoodsItem of searchedGoods">
          <a 
            class="dropdown-link link"
            (click)="onRouterLinkClick(
              searchedGoodsItem.category || '.', searchedGoodsItem.subCategory || '', searchedGoodsItem.id
            )"
          >
            <app-goods-item-minimal-card [goodsItem]="searchedGoodsItem"></app-goods-item-minimal-card>
          </a>
        </li>
      </ul>
    </ng-template>
  </div>

  <app-nav-bar 
    [categories]="categories$ | async"
    (categoryClickEvent)="onRouterLinkClick($event)"
  ></app-nav-bar>
</header>