@import './src/scss/variables.scss';

.cart-list {
  display: grid;
  grid-template-columns: repeat(4, 25%);
  margin: 20px 10px;
}

.cart-item {
  padding: 10px;
}

.cart-item:not(:nth-last-child(-n + 4)) {
  border-bottom: 1px solid $main-divider-color;
}

.cart-item:not(:nth-child(4n)) {
  border-right: 1px solid $main-divider-color;
}