<article class="slide" *ngIf="content">
  <div class="slide-poster-wrapper">
    <img 
      class="slide-poster" 
      src="{{ content.imageUrls[0] }}" 
      alt="{{ content.name }}"
      title="{{ content.name }}"
    >
  </div>
  <div class="slide-description-wrapper">
    <h3 class="slide-description-title">
      {{ content.name }}
    </h3>
    <p class="slide-description-raiting card-raiting">
      <span 
        class="slide-description-raiting-filled card-raiting-filled" 
        [style.width]="15*content.rating + 'px'"
      >
      </span>
    </p>
    <p class="slide-description-price">
      {{ content.price | number:'.2-2' }} бел.&nbsp;рублей
    </p>
  </div>
</article>