@import './src/scss/mixins.scss';          
@import './src/scss/variables.scss';

:host {
  display: block;
}

.slide,
.slide-poster {
  height: 200px;
}

.slide {
  @include flex-aligned;
  justify-content: center;
}

.slide-poster-wrapper {
  @include flex-center-aligned;
}

.slide-poster {
  min-height: 200px;
  object-fit: contain;
}

.slide-description-wrapper {
  @include flex-center-aligned;
  flex-direction: column;
  max-width: 50%;
  margin-left: 30px;

  font-size: 1.5rem;
}

.slide-description-title {
  text-align: center;
}

.slide-description-price,
.slide-description-raiting {
  margin: 5px 0;
  text-align: center;
}

.slide-price-label {
  font-weight: bold;
}