@import './src/scss/mixins.scss';          
@import './src/scss/variables.scss';

.card-body,
.card-poster {
  height: 200px;
}

.card-body {
  @include flex-aligned;
  justify-content: center;
}

.card-poster {
  width: 90%;
  min-height: 200px;

  object-fit: contain;
}

.card-poster-wrapper {
  @include flex-center-aligned;
  max-width: 50%;
}

.goods-item-page-card-wrapper {
  .card-poster-wrapper {
    display: none;
  }
}

.card-description-wrapper {
  @include flex-center-aligned;
  flex-direction: column;
  max-width: 50%;
  margin-left: 5px;

  font-size: 1rem;
}

.card-description-title {
  font-size: 1.1rem;
  text-align: center;
}

.card-description-price {
  margin: 2px 0;
  text-align: center;
}


.card-description-title,
.card-description-price,
.card-description-raiting,
.card-price-label {
  max-width: 130px;
  text-overflow: ellipsis;
  overflow: hidden;
}

.card-raiting {
  width: 75px;
  height: 14px;
  margin: 10px;

  background: url('../assets/images/star-empty.svg') repeat-x;
}

.card-raiting-filled {
  display: block;
  width: 0;
  height: 14px;

  background: url('../assets/images/star-filled.svg') repeat-x;
}

.card-description-amount {
  @include flex-center-aligned;
  margin: 5px;
  
  font-weight: bolder;
  color: $secondary-font-color;

  fill: $secondary-font-color;
}

.card-description-amount-icon {
  margin-right: 5px;
}

.card-link {
  text-decoration: underline;
}