@import './variables.scss';
@import './mixins.scss';

body { 
	font-family: "Roboto", "Helvetica Neue", sans-serif;
}

.centralizer {
  width: 1200px;
  margin: 0 auto;
}

.visually-hidden {
	position: absolute !important;
	clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
	clip: rect(1px, 1px, 1px, 1px);
	padding:0 !important;
	border:0 !important;
	height: 1px !important;
	width: 1px !important;
	overflow: hidden;
}

.list {
	margin: 0;
	padding: 0;

	list-style: none;
}

.link {
	text-decoration: none;
	color: inherit;

	transition: .2s ease;

	cursor: pointer;

	&:focus,
  &:hover,
  &:active {
		text-decoration: none;
    color: $main-red;
  }    
}

.flex {
	@include flex;
}

.flex-aligned {
  @include flex-aligned;
}

:root .main-button {
	box-sizing: border-box;
	@include flex-center;
	height: 42px;
	
	border: 1px solid $main-button-border-color;
	border-radius: 40px;
	
	background-color: $main-button-background-color;
	
	transition: .2s ease;

	&:focus,
  &:hover,
  &:active {
		border-color: $main-button-light-color;
    background-color: $main-button-light-color;
    box-shadow: 0 2px 4px $main-button-shadow-color;
	}
}