// COLORS
$main-color: #2F80ED;
$main-dark-color: #000000;
$main-light-color: #FFFFFF;
$main-brand-color: #D62761;

// BACKGROUND-COLORS
$main-bg-color-light: #E5E5E5; 
$secondary-bg-color-light:  #F7F8FA;
$third-bg-color-light: #F2F2F2;
$fourth-bg-color-light: #EFEFEF;
$main-bg-color-dark: #808080;
$secondary-bg-color-dark: #929292; 

// BACKGROUND-GRADIENTS
$nav-backgroud-gradient: linear-gradient(90deg, #941E94, #E52E6B);
$instagram-backgroud-gradient: linear-gradient(169.11deg, #F9CB76 12.38%, #EA1E59 53.89%, #C02290 70.24%, #5843C7 97.18%);

// BORDERS-COLORS
$main-red: #EB5757; 
$main-green: #27AE60;
$main-yellow: #F2C94C;
$main-blue: #2F80ED; 

// FONTS-COLORS
$main-font-color: #000000;
$secondary-font-color: #929292; 
$third-font-color: #828282;

$main-dark-font-color: #4F4F4F;
$secondary-dark-font-color: #333333;
$third-dark-font-color: #1A1A1A;

$main-light-font-color: #FFFFFF;
$secondary-light-font-color: #2F80ED;
$third-light-font-color: #767e9e;

$main-font-brand-color: #D62761;

// SHADOWS-COLORS
$link-shadow-color: #2F80EDCC;
$link-shadow-dark-color: #000000CC;
$link-shadow-light-color: #2427275d;

// BUTTONS-COLORS
$main-button-border-color: #D5D7DB;
$main-button-light-color: #FFFFFF;
$main-button-background-color: #F7F8FA;
$main-button-shadow-color: #1723260D;

// DIVIDERS-COLORS
$main-divider-color: #D5D7DB;

// LINKS-COLORS
$link-hover-color: #1A1A1A33;
$link-hover-secondary-color: #E52E6B1A;
$social-link-hover-color: #447DBD;
$youtube-social-link-hover-color: #FF2638;
$ok-social-link-hover-color: #FA9019;

// MEDIA
$desktop-width: 1200px;
$tablet-width: 1023px;
$mobile-big-width: 700px;   