@import './src/scss/variables.scss';

.breadcrumbs {
  margin: 10px 0; 
}

.breadcrumbs-category-link,
.breadcrumbs-subcategory-link {
  color: $secondary-light-font-color;

  text-decoration: underline;

  &:focus,
  &:hover,
  &:active {
    color: $main-font-brand-color;

		text-decoration: none;
  }
}