@import './src/scss/variables.scss';
@import './src/scss/mixins.scss';

.goods-list{
  display: grid;
  grid-template-columns: repeat(4, 25%);
}

.goods-item:not(:nth-last-child(-n + 4)) {
  border-bottom: 1px solid $main-divider-color;
}

.goods-item:not(:nth-child(4n)) {
  border-right: 1px solid $main-divider-color;
}

.sorting-block {
  @include flex-aligned;
  min-height: 50px;

  border-top: 1px solid $main-divider-color;
  border-bottom: 1px solid $main-divider-color;
}

.sorting-title {
  margin-right: 10px;
}

.sorting-criteria-list {
  @include flex-aligned;
  margin: 0;
}

.sorting-criteria-item {
  margin-right: 20px;
}

.sorting-criteria-link {
  display: inline-flex;
  align-items: center;

  color: $secondary-light-font-color;
  text-decoration: none;

  cursor: pointer;

  &.active {
    color: $main-font-brand-color;
  }
}

.sorting-direction-icon {
  color: transparent;
}

.active .sorting-direction-icon {
  color: inherit;
  transition: transform 0.6s;
}

.increasing .sorting-direction-icon {
  transform: rotate(-180deg);
}