<div class="centralizer">
  <a class="logo-link link" href="#" title="На главную страницу">
    <h1 class="visually-hidden">RS Shop – приложение - интернет-магазин (Angular)</h1>
    <img class="logo" src="../../../assets/images/logo.svg" alt="Логотип Angular">
  </a>

  <button
    class="catalog-button main-button shadow"
    mat-icon-button
    aria-label="Открыть каталог товаров"
    title="Открыть каталог товаров"
    (click)="onCatalogButtonClick()"
  >
    <mat-icon>apps</mat-icon>
    Каталог товаров
  </button>

  <form class="search-form form" name="search">
    <mat-form-field class="search-form-field" appearance="outline">
      <mat-label>Поиск товара или категории</mat-label>
      <input
        class="search-form-input search-input input" 
        type="search" 
        name="searchValue"
        matInput 
        autocomplete="off"
        [(ngModel)]="searchValue" 
        (ngModelChange)="setSearchValue(searchValue)"
      >
      <button 
        class="search-clear-button"
        type="button"
        *ngIf="searchValue" 
        matSuffix 
        mat-icon-button 
        aria-label="Clear search input" 
        (click)="searchValue=''"
      >
        <mat-icon>close</mat-icon>
      </button>
    </mat-form-field>
  </form>

  <button
    class="profile-button main-button shadow"
    mat-icon-button
    aria-label="Открыть профиль пользователя"
    title="Открыть профиль пользователя"
    (click)="searchValue=''"
  >
    <mat-icon>login</mat-icon>
    Аккаунт
    <mat-icon>arrow_drop_down</mat-icon>
  </button>

  <button
    class="cart-button main-button shadow"
    mat-icon-button
    aria-label="Открыть корзину товаров"
    title="Открыть корзину товаров"
    (click)="searchValue=''"
  >
    <mat-icon>shopping_cart</mat-icon>
    Корзина
  </button>
</div>