@import 'src/scss/variables.scss';
@import 'src/scss/mixins.scss';

:host {
  @include flex;
  margin: 0 10px;
}

.centralizer {
  @include flex-aligned;
  justify-content: space-evenly;
  margin: 15px auto;
}

.logo {
  width: 37px;
  height: 40px;
  margin-right: 60px;
}

.search-form {
  @include flex;
  margin-right: 20px;
}

.search-form-field {
  width: 540px;
  height: 36px;
}

.search-form-input {
  height: 36px;
}

.catalog-button {
  min-width: 160px;
	margin-right: 20px;
}

.profile-button,
.cart-button {
  min-width: 120px;
	margin-right: 20px;
}

.profile-dropdown {
  .profile-dropdown-menu {
    box-shadow: 0 2px 4px $main-bg-color-dark;
  }

  .dropdown-login-button-wrapper {
    @include flex-center;
  }
  
  .dropdown-item {
    padding: 0;
  
    &:active {
      background-color: inherit;
    }
  }
  
  .dropdown-link {
    @include flex-aligned;
    padding: 0.5rem 0.5rem;

    border: none;
  }

  .dropdown-item-icon {
    margin-right: 10px;
  }

  .dropdown-login-button {
    @include flex-center-aligned;
    width: 150px;
  
    color: $main-light-font-color;
  
    border: 1px solid $main-brand-color;
    border-radius: 20px;

    background-color: $main-brand-color;

    &:focus,
    &:hover,
    &:active {
      color: $main-brand-color;
  
      border: 1px solid $main-brand-color;
      
      background-color: $main-light-color;
    }
  }
}

.user-info {
  @include flex-center;
  margin: 20px 0 10px;
}

.user-icon {
  @include flex-center;
  margin: 20px 0 30px;

  color: $main-brand-color;
  
  transform: scale(2.5);
}

.user-name {
  width: 200px;

  font-weight: bolder;
  text-align: center;
  text-overflow: ellipsis;
  overflow: hidden;
}