@import './src/scss/variables.scss';
@import './src/scss/mixins.scss';

.main-swiper-container {
  @include media-tablet {
    margin-top: 0;
  }
}

.swiper-link {
  color: inherit !important;

  &:focus,
  &:hover,
  &:active {
    color: $main-red !important;
		text-decoration: none;
    
    cursor: pointer;
  }    
}